#vis {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body {
  background-color: black;
}

svg {
    border-width: 30px;
    border-color: rgb(171, 12, 202);
    border-style: double ridge;
}